@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #000;
  --soft-pink: #e39cb8;
  --rich-pink: #dd6594;
  --text-muted: #666666;
  --white: #fff;
  --hero-bg: #fefef5;
  --footer-bg: #f7f0ed;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-dai-banna: 'Dai Banna SIL', serif;
}
