.footer {
  padding: 0 1.3rem;
  background-color: var(--footer-bg);
}

.footer__container {
  max-width: 1050px;
  margin: 0 auto;
}

.footer_nav-wrap {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 1px solid #d9d9d9;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

.footer__nav-link {
  min-height: 28px;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;

  &:hover {
    border-bottom: 2px solid var(--rich-pink);
    color: var(--rich-pink);
  }
}

.footer__newsletter-wrap {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-bottom: 1px solid #d9d9d9;
}

.mailbox-icon {
  max-width: 70px;
  margin: 0 auto;
}

.footer__newsletter-name {
  text-align: center;
  color: var(--rich-pink);
  font-size: 2.2rem;
  font-weight: 500;
}

.footer__offer-msg {
  text-align: center;
  color: var(--text-muted);
  font-size: 0.9rem;
}

.footer__newsletter-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

#email {
  width: 100%;
  max-width: 400px;
  height: 50px;
  color: var(--rich-pink);
  background-color: transparent;
  border: 1px solid var(--rich-pink);
  border-radius: 8px;
  padding-inline: 10px;
  font-weight: 500;

  &::placeholder {
    color: var(--rich-pink);
    font-size: 0.85rem;
    font-weight: 400;
  }

  &:focus {
    outline: 1px solid var(--rich-pink);
  }
}

.footer__newsletter-submit {
  position: relative;
  width: 100%;
  max-width: 180px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--rich-pink);
  background-color: var(--rich-pink);
  color: var(--white);
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  overflow: hidden;

  > img {
    width: 30px;
    transition:
      transform 0.7s ease-in-out,
      left 0.6s ease-in-out;
  }

  .paperplane-icon1 {
    position: absolute;
    left: -50px;

    transform: rotate(45deg);
  }

  .paperplane-icon1 {
    transition-delay: 0.2s;
  }

  &:hover {
    > .paperplane-icon2 {
      transform: translateX(80px) rotate(45deg);
    }

    .paperplane-icon1 {
      position: absolute;
      left: 125px;
      transform: rotate(0deg);
    }
  }

  &:focus {
    outline: 2px solid var(--rich-pink);
    outline-offset: 3px;
  }
}

.footer__social-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1rem 0;
  gap: 1rem;
}

.footer__social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--rich-pink);

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--rich-pink);
  font-size: 1rem;

  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    background-color: var(--rich-pink);
    color: var(--white);
  }
}

.footer__bottom {
  padding-block: 1.5rem;
}

.footer__site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  font-size: 0.9rem;
  text-align: center;

  @media screen and (min-width: 600px) {
    flex-direction: row;

    > p {
      padding-inline: 1rem;
      border-right: 1px solid #d9d9d9;

      &:last-child {
        border: none;
      }
    }
  }
}

.footer__site-payments-info {
  margin-block: 15px 0;
  max-width: 500px;
  margin-inline: auto;
}
