@import url('./css/utils/reset.css');
@import url('./css/utils/variables.css');
@import url('./css/utils/global.css');

@import url('./css/components/header.css');
@import url('./css/components/footer.css');
@import url('./css/components/services.css');
@import url('./css/components/home.css');

@import url('./css/animation/animation.css');

.bg-overlay {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  transition: all 0.3s linear;
  pointer-events: none;
}

.bg-overlay--active {
  opacity: 1;
}

body {
  font-family: var(--font-montserrat);
  overflow-x: hidden;
}
