@import url('./css/utils/reset.css');
@import url('./css/utils/variables.css');
@import url('./css/utils/global.css');

@import url('./css/components/header.css');
@import url('./css/components/footer.css');
@import url('./css/components/services.css');
@import url('./css/components/home.css');

@import url('./css/animation/animation.css');

@font-face {
  font-family: 'Adventures Unlimited Script';
  src:
    url('../assets/AdventuresUnlimited-ScriptBold_2.woff2') format('woff2'),
    url('../assets/AdventuresUnlimited-ScriptBold_1.woff') format('woff'),
    url('../assets/AdventuresUnlimited-ScriptBold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.bg-overlay {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  transition: all 0.3s linear;
  pointer-events: none;
}

.bg-overlay--active {
  opacity: 1;
}

body {
  font-family: 'Adventures Unlimited Script';
  overflow-x: hidden;
  background-color: var(--white);
}
